sqlmodel
fastapi
uvicorn[standard]
jinja2
python-multipart
aiofiles
pocketsphinx
pymysql
faster-whisper
pydantic           
pydantic-settings  
pydub              
python-dotenv      
SpeechRecognition  
sqlmodel          
static_ffmpeg     
vosk               
websockets     
